.column {
    padding: 5px;
}
.row::after {
    content: "";
    clear: inherit;
    display: inherit;
}
.test-box{
      border-radius: 50%;
      float: left;
     
}
.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;

}
.container {
 float: right;
 color: black;
 font-weight: bold;
}
.bg-image {
    background-image: url(images.html/girls.jpg);
    

}
.form {
    text-align: inherit;
}
.btn:hover {
    background-color: lightcoral;
    color: maroon
}
.btn {
    color: black
}
h3 {
    color: maroon;
    font-style: oblique;
    font-weight: bold;
}
