.column {
    padding: 5px;
}
.row::after {
    content: "";
    clear: left;
    display: inherit;
}
.test-box{
      border-radius: 50%;
     
}
.description {
    float: inline-start;
    
}
.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;
}

