.column {
    padding: 5px;
}
.row::after {
    content: "";
    clear: inherit;
    display: inherit;
}
.test-box{
      border-radius: 50%;
      float: left;
      height: 100%;
     
}
.table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
}
th, td {
    padding: 5px;
}
table {
    border-spacing: 5px;

}
.container {
 float: right;
 font-style: oblique;
 font-weight: normal;
 font-family: cursive;
}
.bg-image {
    background-image: url(images.html/girls.jpg);
  
    


}
.btn:hover {
    background-color: lightcoral;
    color: maroon
}
.btn {
    color: black
}
h3 {
    
    font-style: oblique;
    font-weight: bold;

}
body {
    background-color:maroon;
    color: whitesmoke;
    
    
}
h1 {
    color:greenyellow;
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
}
h2,h4{
    color:greenyellow;
}
form {
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
}
h3 {
    font-weight: bolder;
    font-family: cursive;
    font-size: 20px;
    color: whitesmoke;
}